body {
    font-family: 'Courier New', Courier, monospace;
    /* background: black; */
}

.container {
    display:flex;
    max-width: 100%;
    height: auto;
}

.image-container {
    display:flex;
    position: relative;
    justify-content:center;
    
}

.logo {
    display:flex;
    position: absolute;
    align-items: center;
    justify-content:center;
    background-color: black;
    opacity: 0.4;
    width:100%;
    font-size:20px;
    top: 7rem;
    /* text-align: center; */
    /* top: 2px; */
    /* left: 20px; */
}

.logo > img {
    height: 6em;
    width: auto;
}

.logo > p {
    color: white;
    padding:0%;
    flex:1;
    font-size: 3em;
    margin: 2px;
}

.caption {
    display: flex;
    position: absolute;
    font-size: .8em;
    bottom: 1%;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.top, .bottom {
    display: flex;
    background-color: lightgray;
    margin: 0px;
    border: 0px;
    height: 33%;
}

.middle {
    display: flex;
    flex-direction:column;
    background-color: white;
    justify-content: center;
    margin: 0px;
    border: 0px;
    height: 34%;
    
}

.text {
    padding-left: 8%;
    bottom: 10%;
}

.text > p {
    font-weight: bold;
}

.middle > p {
    padding-left: 8%;
}

.row_one, .row_two, .row_three {
    display: flex;
    padding-left: 5%;
}

.row_one > div, .row_two > div, .row_three > div {
    padding: 3%;
}

.bottom-container {
    padding: 5%;
}

input {border:1px,solid,#e5e7eb}

input:focus {border:1px, solid, blue}

input[type="password"]:invalid {border:1px, solid, red}